{%extends 'base.html'%}

{% block navbtn1 %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary ml-2" data-toggle="modal" data-target="#exampleModal">
  POST
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What's In Your Mind</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <label for="image">Image : </label>
          <input type="file" id="image" />
          <br />

          <label for="caption">Caption : </label>
          <br />
          <textarea name="caption" id="caption" cols="30" rows="10"></textarea>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="submit" id="button11" class="btn btn-primary" onclick="sendJSON();return false">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% block js2 %}

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

  function sendJSON() {
    console.log("djdjdjdd")
   const url = "json"
   
   fetch(url,{
     method :"POST",
     headers:{
       "Content-type":"application/json",
       "X-CSRFToken": csrftoken
           },
    body : JSON.stringify({ "caption":'yogesh@makitweb.com' , "user":"1"})
     }).then(function(response){
       console.log("done")
     })

    }









/*    
     $.ajax({
       type: "POST",
       url: 'json',
       dataType:"json",
       
       // data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},
       
       data: { 
       "caption": "jsonffaxaxdcdcff",     
       "image": null,
       "likes": 0434 ,
       "user":1
       },
       headers: 
       {
           'X-CSRF-TOKEN': csrftoken,
           "ContentType": "application/json"
       },
       success: function (data) {
         console.log(data)
       }
     });
  





    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "json", true);
   // xhttp.setRequestHeader("Content-Type","application/json");
   xhttp.setRequestHeader('X-CSRF-Token',csrftoken,"Content-Type","application/json")
    console.log(this.responseText)
    xhttp.onload = function () {
      if (this.readyState == 4 && this.status == 200) {
        // Response
        var response = this.responseText;
      }
    };
    var data = { "user": '1', "caption":'yogesh@makitweb.com'};
    xhttp.send(JSON.stringify(data));


    */
  

</script>
{% endblock js2 %}



{% endblock navbtn1 %}

{% block navbtn2 %}
<a role="button" href='/logout' class="btn btn-danger ml-2">Logout</a>
{% endblock navbtn2 %}

{% block body %}


<div id="posts">
  jsonn loading ....
</div>


<script>
  const xhr = new XMLHttpRequest()
  const method = "GET"
  const url = "json"
  // const responseType = "json"

  function handlelike(scream_id, count) {

  }

  function like(scream) {
    return "<button class='btn btn-danger' onclick=handlelike(" + scream.id +
      "," + scream.likes + ")>Like</button> "
  }

  function formatscreams(scream) {

    var formated = '<div class="mb-4 primary"><h2>' + scream.id + "</h1>" + "<h5>" + scream.caption +
      "</h5><p><div>" + like(scream) + "</div></p></div>"
    return formated
  }
  // xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function () {
    if (this.readyState == 4 && this.status == 200) {
      myObj = JSON.parse(this.responseText);
      // console.log(xhr.response)
      screamelement = document.getElementById("posts")
      var finalposts = ""
      for (x in myObj) {

        var obj = myObj[x]
        var currentpost = formatscreams(obj)
        finalposts += currentpost
      }
      screamelement.innerHTML = finalposts
    }
  }

  xhr.send()
</script>

{% endblock body %}